* {
    font-family: "Fira Code", "Fira Mono", "SF Mono", "Roboto Mono", monospace;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f1dfd4;
    /* background-color: rgb(72, 63, 197); */
}

#root {
    width: 100%;
    height: 100%;
}

/* LOGIN PAGE CSS START */
/* LOGIN PAGE CSS START */
/* LOGIN PAGE CSS START */

#login_container {
    background-color: #DECBB7;
    width: 500px;
    height: 300px;
    padding: 45px;
    margin: 20vh auto;
    border-radius: 36px;
    border: 4px solid #8f857d;
}

#login_contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-align: center;
}

#username {
    width: 80%;
    height: 15%;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #8f857d;
    color: #433633;
}

#password {
    width: 80%;
    height: 15%;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #8f857d;
    color: #433633;
}

#submit {
    width: 15%;
    height: 15%;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #8f857d;

    color: #433633;
    /* height: 4em; Uncomment if desired */
}

#submit:hover {
    background-color: #decbb7;
    cursor: pointer;
}

.title {
    font-size: 2rem;
    color: #433633;

}

.title_guide {
    font-size: 1rem;
    font-style: oblique;
    color: #8f857d;

}

/* LOGIN PAGE CSS END */
/* LOGIN PAGE CSS END */
/* LOGIN PAGE CSS END */

/* HOME PAGE CSS START */
/* HOME PAGE CSS START */
/* HOME PAGE CSS START */

/* HEADER CSS START */
header {
    width: 100%;
    height: 100px;
    background-color: #DECBB7;
    color: #433633;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #8f857d;
}

.header_title {
    font-size: 2rem;
    justify-self: flex-start;
    padding: 24px;
    cursor: pointer;
}

.tab_button {
    font-size: 1.5rem;
    padding: 24px;
    flex: 1;
    cursor: pointer;
}

.tab_button:hover {
    background-color: #8f857db7;
}

.active {
    background-color: #8f857d;

}

.user_info {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    align-items: center;
    justify-content: end;
    flex: 2;
}

.welcome_name {
    font-size: 1.7rem;
    font-weight: bold;
    color: #433633;
    padding: 24px;
}

#logout {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 24px;
    margin-right: 24px;
    background-color: lightcoral;
    color: #433633;
    border-radius: 8%;
    cursor: pointer;
}

#logout:hover {
    background-color: red;
}

/* HEADER CSS END */


/* HOME PAGE CSS END */
/* HOME PAGE CSS END */
/* HOME PAGE CSS END */
